.App {
  text-align: center;
}


.nav ul {
  list-style: none;
  background-color: rgb(250, 246, 246);
 
  padding: 0;
  margin: auto;
}
.nav li {
  display: inline;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  margin-right: 20px;
  /* border-bottom: 1px solid #888; */
 
 
}

.nav li:hover {
  background-color: #005f5f;
}

.nav li.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

code {
  white-space: pre;
  background-color: rgb(210, 231, 243);
  padding: 2px 4px;
  border-radius: 2px;
  display: inline-block;
}

main {
  max-width: 60em;
  margin-inline: auto;
}

code.code-block {
  padding: 1em;
  box-shadow: 1px 1px 2px black;
  background-color: rgb(166, 216, 221);
  border-radius: 0.5em;
  width: 100%;
}

.mui-image {
  max-width: 100%;
}

figure {
  box-shadow: 1px 1px 2px black;
  max-width: 50%;
  padding: 0.5em;
}

.hljs-string {
  color: darkgreen;
}

.hljs-keyword {
  color: red;
}

.hljs-function {
  font-weight: bold;
}

.hljs-tag {
  color: blue;
}

.hljs-name {
  font-weight: bold;
}

.hljs-tag.hljs-string {
  color:rgb(136, 0, 0);
}